{% extends 'base.html' %}
{% load static %}

<script src="https://www.google.com/recaptcha/enterprise.js?render=6LfKrFglAAAAALH7xTDjm5925HBG6FW3QYKPtRCj"></script>
<script>

{% block body %}




<div class="forgotPassContainer">
    <h3>Forgot Password</h3>
    <p>Enter your email address to update your password.</p>

      <div class="emailInput">
        <label for="emailForReset"><p>Email</p></label>
        <input type="text" id="emailForReset" placeholder="example@gmail.com" />
      </div>

      <div class="captcha">

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="myBtn">Send</button>
      </form>
      </div>




  </div>



{% endblock body %}





