{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

    <div class="signup-container">
      <div class="signUpInner">
        <div class="signup-heading login-heading">
          <p>Login</p>
          <p>Hello again!</p>
        </div>

        <div class="signup-main guideSide">
          {% comment %} <div class="signup-media">
            <a
              target="_blank"
              href="https://www.google.com/"
              href=""
              class="one-signup-media"
            >
              <img src="./images/google.png" />
              <p>with Google</p>
            </a>
            <a
              target="_blank"
              href="https://www.facebook.com/"
              class="one-signup-media"
            >
              <img src="./images/facebook.png" />
              <p>with Facebook</p>
            </a>
          </div> {% endcomment %}
          <div class="sign-borders">
            <div class="sign-border"></div>
            <p>or</p>
            <div class="sign-border"></div>
          </div>
          <form method="POST">
            {% csrf_token %}
            <div class="signup-inputs">
              <div class="signup-input">
                <label for="loginEmail"><p>Email</p></label>
                {{form.email|as_crispy_field}}
              </div>
              <div class="signup-input">
                <label for="loginPass"><p>Password</p></label>
                {{form.password|as_crispy_field}}
              </div>
            </div>
            {% comment %} <div class="signAs">
              <h3>Login as:</h3>

              <ul>
                <li>
                  <input type="checkbox" id="guide" />
                  <label for="guide">Guide</label>
                </li>
                <li>
                  <input type="checkbox" id="company" />
                  <label for="company">Company</label>
                </li>
                <li>
                  <input type="checkbox" id="driver" />
                  <label for="driver">Driver</label>
                </li>
              </ul>
            </div> {% endcomment %}
            <div class="signup-terms login-forgotPass">
              <a href="{% url 'account:forgot_password' %}">Forgot password?</a>
            </div>
            <div class="signUpBtn">
              <button class="myBtn">Log in</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% endblock body %}