:root {
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #9796f0;
  --blue: #0000ff;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
}
.calendar {
  /* height: 610px; */
  height: 700px;
  /* width: max-content; */
  /* width: 1000px; */
  width: 100%;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  padding: 30px 50px 0px 50px;
}
.calendar {
  box-shadow: var(--shadow);
}
.calendar-header {
  /* background: #9796f0; */
  /* background-color: red; */
  background: #3366ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--white);
  padding: 10px;
}
.calendar-body {
  pad: 10px;
}
.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  cursor: pointer;
  color: rgb(104, 104, 104);
}
.calendar-week-days div:hover {
  color: black;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.calendar-week-days div {
  /* display: grid;
    place-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-second);
  height: 50px;
  /* border: 1px solid red; */
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}
.calendar-days div {
  /* width: 37px; */
  width: 100%;
  /* height: 33px; */
  /* height: 40px; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  border: 1px solid lightgray;
  border-collapse: collapse !important;
}
/* .calendar-days div:hover {
    background-color: lightgray;
  } */
.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.month-picker:hover {
  background-color: var(--color-hover);
}
.month-picker:hover {
  color: var(--color-txt);
}
.year-picker {
  display: flex;
  align-items: center;
}
.year-change pre {
  margin-bottom: 0;
}
.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
  align-items: center;
}
.year-change:hover {
  background-color: var(--light-btn);
  transition: all 0.2s ease-in-out;
  transform: scale(1.12);
}
.year-change:hover pre {
  color: var(--bg-body);
}
.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#year:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2 ease-in-out;
}
.calendar-days div span {
  position: absolute;
}
.calendar-days div:hover {
  /* transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #fbc7d4;
    border-radius: 20%;
    color: var(--dark-text); */
  background-color: rgb(240, 240, 240);
}
.calendar-days div.current-date {
  color: var(--dark-text);
  /* background-color: var(--light-btn); */
  /* border-radius: 20%; */
  background-color: #00a2ff;
}
.month-list {
  position: relative;
  left: 10%;
  top: -50%;
  background-color: #ebebeb;
  color: var(--light-text);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1px;
  border-radius: 20px;
  width: 70%;
  height: 300px;
}
.month-list > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}
.month-list > div > div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
.month-list > div > div:hover {
  background-color: var(--light-btn);
  color: var(--dark-text);
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}
.month-list.show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6s ease-in-out;
  animation: to-left 0.71s forwards;
}
.month-list.hideonce {
  visibility: hidden;
}
.month-list.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}
.date-time-formate {
  width: max-content;
  height: max-content;
  font-family: Dubai Light, Century Gothic;
  position: relative;
  display: inline;
  /* top: 140px;
  left: 140px; */
  top: 120px;
  /* left: 300px; */
  left: 25%;
  justify-content: center;
}
.day-text-formate {
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding-right: 5%;
  border-right: 3px solid #9796f0;
  position: absolute;
  left: -1rem;
}
.date-time-value {
  display: block;
  height: max-content;
  width: max-content;
  position: relative;
  left: 40%;
  top: -18px;
  text-align: center;
}
.time-formate {
  font-size: 1.5rem;
}
.time-formate.hideTime {
  animation: hidetime 1.5s forwards;
}
.day-text-formate.hidetime {
  animation: hidetime 1.5s forwards;
}
.date-formate.hideTime {
  animation: hidetime 1.5s forwards;
}
.day-text-formate.showtime {
  animation: showtime 1s forwards;
}
.time-formate.showtime {
  animation: showtime 1s forwards;
}
.date-formate.showtime {
  animation: showtime 1s forwards;
}
@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}
@media (max-width: 375px) {
  .month-list > div {
    margin: 5px 0px;
  }
}
.busy-date {
  pointer-events: none;
  opacity: 0.6 !important;
  border: 1px solid red !important;
}
.past-day {
  pointer-events: none !important;
  opacity: 0.3 !important;
}
.emptyDate {
  pointer-events: none !important;
}

/* -------------------------
  -------CUSTOMIZE---------
  ------------------------- */

.calendar {
  position: relative;
}
.calendar .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 450px;
  height: 250px;
  border-radius: 25px;
  border: 1px solid #0000ff;
  background-color: #fff;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
.showModal {
  transform: translate(-50%, -50%) scale(1) !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.calendar .modal .buttons {
  margin-top: 50px;
}
.modal .buttons button {
  padding: 5px 20px;
  background-color: #00a2ff;
  border: 0;
  outline: 0;
  font-size: 18px;
  transition: 0.4s;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #ebebeb;
  color: #0000ff;
}

.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: red;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.disabled {
  opacity: 0.2 !important;
}

.border {
  border: 1px solid red !important;
}
