@media screen and (max-width: 1600px) {
  /* Home Start (1600)*/

  #line1 {
    position: absolute;
    transform: scale(3);
    left: 17%;
    top: 45%;
  }
  #line2 {
    position: absolute;
    transform: scale(3);
    left: 47%;
    top: 40%;
  }
  #line3 {
    position: absolute;
    transform: scale(3);
    left: 77%;
    top: 45%;
  }

  /* Home End(1600)*/
}

@media screen and (max-width: 1450px) {
  /* Home Start (1450)*/
  #line1 {
    transform: scale(2.8);
  }
  #line2 {
    transform: scale(2.8);
  }
  #line3 {
    transform: scale(2.8);
  }

  /* Home End(1450)*/
}

@media screen and (max-width: 1400px) {
  /* Home Start(1400)*/
  .hero-total .hero-text h1 {
    font-size: 50px;
  }
  #line1 {
    transform: scale(2.6);
  }
  #line2 {
    transform: scale(2.6);
  }
  #line3 {
    transform: scale(2.6);
  }
  .left-best-selling {
    width: 35%;
    position: relative;
  }
  .pink-linear {
    width: 300px;
    height: 220px;
  }
  .best-video {
    width: 400px;
    height: 250px;
    left: 20px;
    bottom: 20px;
  }
  .largestBodyImg .textBox {
    position: absolute;
    bottom: -17%;
    left: 7%;
    background-color: var(--white);
    width: 37%;
    padding: 20px 44px 40px 12px;
  }
  .largestProgramBody .textBox h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .largestProgramBody .textBox p {
    margin: 25px 0 27px 0;
    font-size: 15px;
    line-height: 22px;
  }
  .largestProgramBody button {
    padding: 12px 18px;
  }
  .textBox .circle {
    width: 180px;
    height: 180px;
    right: -15%;
    bottom: -20%;
  }
  /* Home End(1400)*/

  /* Blog Page Start(1400)*/
  .ourBlog .blogs .oneBlog {
    width: 31%;
    /* height: 460px; */
    /* margin-top: 48px; */
    /* border-radius: 8px; */
  }
  /* Blog Page End(1400)*/
}
@media screen and (max-width: 1300px) {
  .breadcrumbs {
    height: 220px;
  }
  .breadcrumbs-text p {
    font-size: 44px !important;
  }
  /* Home Start(1300)*/

  #line1 {
    transform: scale(2.4);
  }
  #line2 {
    transform: scale(2.4);
  }
  #line3 {
    transform: scale(2.4);
  }
  /* Home End(1300)*/

  .userSelectBtns {
    margin: 40px 0 !important;
  }

  .hero-total .heroInputs {
    width: 100%;
    padding: 10px 15px;
  }
  .hero-total .heroInputs .heroInput:nth-child(2) {
    margin: 0 10px;
  }
}

@media screen and (max-width: 1250px) {
  #line1 {
    transform: scale(1.8);
  }
  #line2 {
    transform: scale(1.8);
  }
  #line3 {
    transform: scale(1.8);
  }

  /* Blog Page Start(1250)*/
  .ourBlog .blogs .oneBlog {
    width: 31%;
    height: 380px;
    /* margin-top: 48px; */
    /* border-radius: 8px; */
  }
  .blogs .blogImg {
    height: 65%;
    /* object-fit: cover; */
  }
  /* Blog Page End(1400)*/

  .hero-total .heroInputs .heroInput {
    width: 27%;
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    display: flex;
    gap: 40px;
  }
  .left-nav {
    width: 65%;
  }
  .hero-text h1 {
    font-size: 40px !important;
  }

  .left-best-selling {
    width: 35%;
    position: relative;
  }
  .pink-linear {
    width: 300px;
    height: 220px;
  }
  .best-video {
    width: 370px;
    height: 220px;
    left: 20px;
    bottom: 50px;
  }
  .right-best-selling {
    width: 47%;
    padding-left: 10%;
  }
  .right-best-selling p:first-of-type {
    font: normal 600 28px "Euclid SemiBold";
  }
  .right-best-selling p:last-of-type {
    font: normal 400 16px "Euclid Regular";
    margin: 15px 0 10px 0;
  }

  /* My Profile Page  */
  .myProfileContainer .navigation {
    /* width: 60px; */
    /* padding: 37px 13px; */
    /* padding-bottom: 10px; */
    /* background: var(--3366FF); */
    /* border-radius: 47px; */
    top: 200px;
    left: 2.7%;
  }

  /* Calendar  */
  /* Container 90% (1200) */
  .aboutContainer {
    width: 90%;
  }
  .footer {
    width: 90% !important;
  }
  .totalContainer {
    width: 90% !important;
  }
  .myProfileContainer .contForNav {
    width: 90%;
  }
}
@media screen and (max-width: 1140px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .hero-total .heroInputs {
    width: 100%;
    padding: 10px 15px;
  }
  .hero-total .heroInputs .heroInput:nth-child(2) {
    margin: 0 10px;
  }
  /* .hero-total .heroInputs .heroInput {
    width: 37%;
  } */
  .hero {
    height: 700px;
    /* background: linear-gradient(90.19deg, #59acfb 0.08%, #7d54fd 99.76%); */
    background-image: url("../images/bakuGradient.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* Calendar (1140)  */
  .myProfileInner.calendarPage {
    padding: 60px 70px;
  }
  .calendarBody .calendar {
    padding: 30px 30px 0;
  }
  /* Notification side (1140)  */
  .myProfileInner.notificationPage {
    padding: 60px 70px;
  }
  .notificationBody .notificationLeft {
    width: 45%;
  }
  .notificationLeft .not {
    padding-bottom: 16px;
    margin-bottom: 30px;
    padding: 16px 16px;
    cursor: pointer;
  }
}
@media screen and (max-width: 1050px) {
  .hero-total .heroInputs .heroInput:nth-child(2) {
    margin: 0 5px;
  }
  .hero-total .heroInputs .heroInput {
    width: 20%;
  }
}
@media screen and (max-width: 1050px) {
  /* Home Start(1050)*/

  .achieve {
    /* text-align: center; */
    width: 146px;
    height: 146px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* border-radius: 50%; */
    /* position: relative; */
  }
}

@media screen and (max-width: 980px) {
  /* Home Start(980)*/

  .achieve {
    width: 136px;
    height: 136px;
  }
  #line1 {
    transform: scale(1.5);
  }
  #line2 {
    transform: scale(1.5);
  }
  #line3 {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 920px) {
  /* Home Start(920)*/

  .achieve {
    width: 126px;
    height: 126px;
  }
  #line1 {
    transform: scale(1.5);
  }
  #line2 {
    transform: scale(1.5);
  }
  #line3 {
    transform: scale(1.5);
  }
  .achieve p {
    margin: 8px 0;
    font-size: 15px;
  }
  .achieve h2 {
    font: 30px "Euclid Medium";
  }
}

@media screen and (max-width: 890px) {
  /* my profile page(890)  */

  .profileBody form {
    width: 100%;
  }
  .myProfileInner .profileBody .profileInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .myProfileInner .profileBody form label {
    width: 100%;
  }
  .myProfileInner .profileBody form label:nth-child(3),
  .myProfileInner .profileBody form label:nth-child(4) {
    margin-top: 24px;
  }
  .myProfileInner .profileBody form label p {
    font: 12px "Euclid Regular";
    line-height: 16px;
    color: var(--2E3A59);
    margin-bottom: 8px;
    border-radius: 2px solid var(--black);
  }
  .myProfileInner .profileBody form input {
    width: 100%;
    padding: 14px 16px;
    background-color: var(--f7f9fc);
    border: 1px solid var(--e4e9f2);
    border-radius: 8px;
    outline: none;
  }
  .myProfileInner .profileBtn {
    width: 100%;
    text-align: center;
    margin-top: 44px;
  }
  .myProfileInner .profileBtn i {
    margin-right: 10px;
  }

  /* Calendar  */
  .myProfileInner.calendarPage {
    padding: 50px 20px 50px 60px;
  }

  /* Notification side(890) */

  .myProfileInner .notificationBody {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .notificationBody .notificationLeft {
    width: 100%;
    margin: 0 auto;
    max-height: 350px;
    overflow-y: scroll;
  }
  .notificationLeft .not {
    padding-bottom: 10px;
    margin-bottom: 30px;
    padding: 16px 16px;
    cursor: pointer;
  }
  .notificationBody .notificationRight {
    width: 100%;
    position: relative;
    margin-top: 30px;
  }
  .secondProfile .secondProfileBody {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  /* my profile page(800) */
  .myProfileInner.personalInfo {
    padding: 30px 30px 30px 50px;
  }
  .myProfileInner .profileHeaderTop {
    margin-bottom: 20px;
  }
  .myProfileInner .profileBody {
    width: 100%;
  }

  .myProfileContainer .contForNav {
    width: 92%;
  }

  .myProfileContainer .navigation {
    width: 50px;
    padding: 30px 13px;
    /* padding-bottom: 10px; */
    /* background: var(--3366FF); */
    /* border-radius: 47px; */
    top: 200px;
    left: 1%;
  }

  /* Calendar(800) */
  .myProfileInner.calendarPage {
    padding: 40px 20px 40px 50px;
  }

  /* Notification side (800)  */
  .myProfileInner.notificationPage {
    padding: 40px 50px;
  }
}
