
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="signup-container">

      <div class="signUpInner">

        <div class="signup-heading">
          <p>Sign up</p>
          <div class="userSelectBtns">
            <button class="guideBtn activeBtn">As Guide</button>
            <button class="companyBtn">As Company</button>
          </div>
        </div>

            <div class="signup-main guideSide">
              <div class="signup-media">
                <a
                  target="_blank"
                  href="{% url 'social:begin' 'google-oauth2' %}"
                  href=""
                  class="one-signup-media"
                >
                  <img src="{% static './images/google.png' %}" />
                  <p>with Google</p>
                </a>
                <a
                  target="_blank"
                  href="https://www.facebook.com/"
                  class="one-signup-media"
                >
                  <img src="{% static './images/facebook.png' %}" />
                  <p>with Facebook</p>
                </a>
              </div>
              <div class="sign-borders">
                <div class="sign-border"></div>
                <p>or</p>
                <div class="sign-border"></div>
              </div>
              <form method="post">
                {% csrf_token %}
                <div class="signup-inputs">
                  <div class="signup-input">
                    <label for="signUpName"><p>Name</p></label>
                    {{form_guide.first_name|as_crispy_field}}
                  </div>
                  <div class="signup-input">
                    <label for="signUpName"><p>Surname</p></label>
                    {{form_guide.last_name|as_crispy_field}}
                  </div>
                  <div class="signup-input">
                    <label for="signUpEmail"><p>Email</p></label>
                    {{form_guide.email|as_crispy_field}}
                  </div>
                  <div class="signup-input">
                    <label for="signUpPass"><p>Password</p></label>
                    {{form_guide.password1|as_crispy_field}}
                  </div>
                  <div class="signup-input">
                    <label for="signUpPass"><p>Again Password</p></label>
                    {{form_guide.password2|as_crispy_field}}
                  </div>
                </div>
                <div class="signup-terms">
                  <p>
                    By signing up, you agree with <a>Terms</a> and
                    <a href="">Conditions</a>
                  </p>
                </div>
                <button class="myBtn" name="btn_guide">Sign up</button>
              </form>
            </div>

            <div class="signup-main companySide hide">
              <div class="signup-media">
                <a
                  target="_blank"
                  href="https://www.google.com/"
                  href=""
                  class="one-signup-media"
                >
                  <img src="{% static './images/google.png' %}" />
                  <p>with Google</p>
                </a>
                <a
                  target="_blank"
                  href="https://www.facebook.com/"
                  class="one-signup-media"
                >
                  <img src="{% static './images/facebook.png' %}" />
                  <p>with Facebook</p>
                </a>
              </div>
              <div class="sign-borders">
                <div class="sign-border"></div>
                <p>or</p>
                <div class="sign-border"></div>
              </div>
              <form method="post">
                {% csrf_token %}
                <div class="signup-inputs">
                  <div class="signup-input">
                    <label for="name"><p>Company Name</p></label>
                    {{form_company.company_name|as_crispy_field}}
                  </div>
                  <div class="signup-input">
                    <label for="email"><p>Company Email</p></label>
                    {{form_company.email|as_crispy_field}}
                  </div>
                  <div class="signup-input">
                    <label for="password"><p>Password</p></label>
                    {{form_company.password1|as_crispy_field}}
                  </div>
                  <div class="signup-input">
                    <label for="password"><p>Again Password</p></label>
                    {{form_company.password2|as_crispy_field}}
                  </div>
                </div>
                <div class="signup-terms">
                  <p>
                    By signing up, you agree with <a>Terms</a> and
                    <a href="">Conditions</a>
                  </p>
                </div>
                <button class="myBtn" name="btn_company">Sign Up</button>
              </form>
            </div>
      </div>

    </div>

    {% endblock body %}