{% extends 'base.html' %}
{% load static %}


{% block body %}

    <section class="breadcrumbs">
      <div class="breadcrumb myWrapper">
        <p>Home</p>
        <i class="fa-solid fa-chevron-right"></i>
        <p>About Us</p>
      </div>
      <div class="breadcrumbs-text myWrapper">
        <p>About Us</p>
      </div>
    </section>

    <div class="aboutContainer">
      <div class="aboutHead">
        <h1>Getguide</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lectus
          eget dignissim quis cursus orci ipsum. Volutpat ut varius nunc
          fringilla habitasse netus. Eget lorem parturient sed purus leo,
          fringilla adipiscing nisl. Turpis dictumst amet, amet dictum turpis
          mauris suscipit sit. Enim risus tincidunt ipsum, nunc, sed cras. Est
          in venenatis lobortis quis laoreet velit. Consectetur malesuada
          pellentesque ac velit fringilla est venenatis. Enim, sagittis lobortis
          lacus, arcu commodo. Sagittis, varius ac nulla a. Dui nisl, blandit in
          id hendrerit. Risus diam risus, nec sit. Sed mi arcu gravida iaculis
          tellus mollis tempor ac.
        </p>
      </div>

      <div class="sections projectPage" id="portfolio">
        <h1>Dəyərlərimiz</h1>
        <div class="projectContainer">
          <div class="proContInner">
            <div class="ProjectLeft projectDisplay">
              <div class="first">
                <div class="leftSide">
                  <!-- <i class="fa-light fa-check"></i> -->
                  <img src="./images/values/tick.png" alt="" />
                </div>
                <div class="rightSide">
                  <p class="sideHeader">Keyfiyyət</p>
                  <p class="sideText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Diam laoreet commodo non magna ullamcorper tincidunt augue.
                    Viverra porttitor arcu sed quisque.
                  </p>
                </div>
              </div>

              <div class="second"></div>
            </div>

            <div class="ProjectRight projectDisplay">
              <div class="first"></div>

              <div class="second">
                <div class="leftSide">
                  <!-- <i class="fa-light fa-heart"></i> -->
                  <img src="./images/values/heart.png" alt="" />
                </div>
                <div class="rightSide">
                  <p class="sideHeader">Müştəri məmnuniyyəti</p>
                  <p class="sideText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Diam laoreet commodo non magna ullamcorper tincidunt augue.
                    Viverra porttitor arcu sed quisque.
                  </p>
                </div>
              </div>
            </div>

            <div class="ProjectLeft projectDisplay">
              <div class="first">
                <div class="leftSide">
                  <!-- <i class="fa-light fa-lightbulb-on"></i> -->
                  <img src="./images/values/lamp.png" alt="" />
                </div>
                <div class="rightSide">
                  <p class="sideHeader">Kreativ yanaşma</p>
                  <p class="sideText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Diam laoreet commodo non magna ullamcorper tincidunt augue.
                    Viverra porttitor arcu sed quisque.
                  </p>
                </div>
              </div>

              <div class="second"></div>
            </div>

            <div class="ProjectRight projectDisplay">
              <div class="first"></div>

              <div class="second">
                <div class="leftSide">
                  <!-- <i class="fa-light fa-people-group"></i> -->
                  <img src="./images/values/men.png" alt="" />
                </div>
                <div class="rightSide">
                  <p class="sideHeader">Gənclər</p>
                  <p class="sideText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Diam laoreet commodo non magna ullamcorper tincidunt augue.
                    Viverra porttitor arcu sed quisque.
                  </p>
                </div>
              </div>
            </div>

            <div class="ProjectLeft projectDisplay">
              <div class="first">
                <div class="leftSide">
                  <!-- <i class="fa-light fa-manat-sign"></i> -->
                  <img src="./images/values/manat.png" alt="" />
                </div>
                <div class="rightSide">
                  <p class="sideHeader">Ən yaxşı qiymətlər</p>
                  <p class="sideText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Diam laoreet commodo non magna ullamcorper tincidunt augue.
                    Viverra porttitor arcu sed quisque.
                  </p>
                </div>
              </div>

              <div class="second"></div>
            </div>

            <div class="ProjectRight projectDisplay">
              <div class="first"></div>

              <div class="second">
                <div class="leftSide">
                  <!-- <i class="fa-light fa-gift"></i> -->
                  <img src="./images/values/gift.png" alt="" />
                </div>
                <div class="rightSide">
                  <p class="sideHeader">Çoxlu hədiyyələr</p>
                  <p class="sideText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Diam laoreet commodo non magna ullamcorper tincidunt augue.
                    Viverra porttitor arcu sed quisque.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock body %}