{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.2.1/css/sharp-solid.css"
    />
    <link rel="stylesheet" href="{% static './CSS/style.css' %}" />
    <!-- for calendar  -->
    <link rel="stylesheet" href="https://templates.iqonic.design/calendify/html/assets/css/backend.min.css?v=1.0.1">
    <link rel="stylesheet" href="https://templates.iqonic.design/calendify/html/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
      <!-- <link rel="stylesheet" href="https://templates.iqonic.design/calendify/html/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css"> -->
      <!-- <link rel="stylesheet" href="./CSS/calendarCss/remixicon.css">     -->
      <!-- Fullcalender CSS -->
    <link rel='stylesheet' href="{% static './CSS/calendarCss/coreMain.css' %}" />
    <link rel='stylesheet' href="{% static './CSS/calendarCss/daygridMain.css' %}" />
    <link rel='stylesheet' href="{% static './CSS/calendarCss/timegridMain.css' %}" />
    <link rel='stylesheet' href="{% static './CSS/calendarCss/listMain.css' %}" />
  </head>
  <body>
    <div class="main-header">
      <div class="total container">
        <div class="left-nav">
          <div class="logo">
            <a href="/"><img src="{% static './images/Logo.png' %}" alt="loqo" /></a>
          </div>
          <ul class="main-nav whiteNav">
            <li><a href="./guides.html">Tour Guides</a></li>
            <!-- <li><a href="#">Partners</a></li> -->
            <li><a href="./blogs.html">Blogs</a></li>
            <li><a href="./about.html">About Us</a></li>
            <li class="FAQ">
              <a href="./faq.html"
                >FAQ <i class="fa-light fa-comments-question"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="main-right-nav">
          <div class="main-lang">
            Az
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          {% if request.user.is_authenticated %}
          <div class="headerProfile">
            <img src="{{request.user.get_avatar}}" alt="" />
          </div>
          {% else %}
          <a href="{% url 'account:login' %}">Log in</a>
          <button class="sign"><a href="{% url 'account:register' %}">Sign Up</a></button>
          {% endif %}
        </div>
      </div>
    </div>

{% block body %}

{% endblock body %}



<div class="footerContainer">
  <div class="footerBorders">
    <div class="footer myWrapper">
      <div class="foot1">
        <div class="foot1Logo">
          <a href="./index.html"><img src="{% static './images/Logo.png' %}" alt="" /></a>
        </div>
        <div class="foot1Socials">
          <a href="" id="fb"
            ><i class="fa-brands fa-square-facebook"></i
          ></a>
          <a href="" id="insta"><i class="fa-brands fa-instagram"></i></a>
          <a href="" id="youtube"><i class="fa-brands fa-youtube"></i></a>
          <a href="" id="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="foot2">
        <h2>Customer Care</h2>
        <p><a href="">Contact Us</a></p>
        <p><a href="">Size Guide</a></p>
        <p><a href="">My Order</a></p>
        <p><a href=""> My Account </a></p>
      </div>
      <div class="foot3">
        <h2>Shipping & Returns</h2>
        <p><a href="">Shipping</a></p>
        <p><a href="">Track Your Order</a></p>
        <p><a href="">Returns and exchanges</a></p>
        <p class="footerFaq">
          <a href="./faq.html"
            >FAQ <i class="fa-light fa-comments-question"></i
          ></a>
        </p>
      </div>
      <div class="foot4">
        <h2>Corporate</h2>
        <p><a href="">Careers</a></p>
        <p><a href="">Social Responsibility</a></p>
        <p><a href="">Reseller</a></p>
      </div>
    </div>
  </div>
  <div class="myWrapper">
    <div class="copyright">
      <i class="fa-light fa-copyright"></i>
      2022 Getguide all rights reserved
    </div>
  </div>
</div>






<script src="{% static './JS/calendar.js' %}"></script>
<script src="{% static './JS/app.js' %}"></script>
<script src="{% static './JS/signup.js' %}"></script>



<script src="{% static './JS/calendarJs/backendBundleMin.js' %}"></script>

    <!-- Chart Custom JavaScript -->
    <script src="{% static './JS/calendarJs/jsCustomizer.js' %}"></script>

    <!-- Fullcalender Javascript -->
    <script src="{% static './JS/calendarJs/coreMain.js' %}"></script>
    <script src="{% static './JS/calendarJs/daygridMain.js' %}"></script>
    <script src="{% static './JS/calendarJs/timegridMain.js' %}"></script>
    <script src="{% static './JS/calendarJs/listMain.js' %}"></script>
    <script src="{% static './JS/calendarJs/interactionMain.js' %}"></script>

    <!-- app JavaScript -->
    <script src="{% static './JS/calendarJs/assetsApp.js' %}"></script>  </body>
    <script src="{% static './JS/myProfile.js' %}"></script>
</body>
</html>
